= '\n'

// for Facebook
meta(property='og:title', content=pkg.title)/
meta(property='og:type', content='website')/
meta(property='og:image', content='https://jquery-plugins.' + common.domain + '/cover.jpg')/
meta(property='og:url', content=pkg.homepage)/
meta(property='og:description', content=pkg.description)/
