= '\n'

// for Twitter
meta(name='twitter:card', content='summary')/
meta(name='twitter:title', content=pkg.title)/
meta(name='twitter:description', content=pkg.description)/
meta(name='twitter:image', content='https://assets.' + common.domain + '/cover.jpg')/
