// =========================| Registries |========================= //



//--------------------------| Colors

$reg-col-black: #000;
$reg-col-white: #fff;

$reg-col-gray-dark:    lighten($reg-col-black, 20%);   // #333
$reg-col-gray:         lighten($reg-col-black, 26.8%); // #444
$reg-col-gray-light:   lighten($reg-col-black, 46.7%); // #777
$reg-col-gray-lighter: lighten($reg-col-black, 86.6%); // #ddd

$reg-col-blue:   #369;
$reg-col-green:  #390;
$reg-col-red:    #c00;
$reg-col-yellow: #ffc;


//--------------------------| Font families

$reg-font-family-sans-serif: 'myriad-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$reg-font-family-monotype: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;


//--------------------------| Font sizes

$reg-font-size-base:   20px;
$reg-font-size-huge:   ceil(($reg-font-size-base * 2.4)); // ~48px
$reg-font-size-big:    ceil(($reg-font-size-base * 2));   // ~40px
$reg-font-size-normal: ceil(($reg-font-size-base * .8));  // ~16px
$reg-font-size-small:  ceil(($reg-font-size-base * .7));  // ~14px


//--------------------------| Line heights

$reg-line-height-base:  1.5; // 24/16
$reg-line-height-tight: 1.1;
